.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  background: #faedcd;
  box-sizing: border-box;
}
.header {
  padding: 25px;
  background-color: #d4a373;
}

input {
  margin: 50px auto;
  padding: 3em;
  min-width: 80%;
  text-align: center;
  outline: none;
  background: #fefae0;
  border-color: #d4a373;
  width: 70%;
  border-radius: 5px;
  text-align: center;
  color: black;
}

h2 {
  margin-bottom: 50px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.links button {
  margin: 10px 40px;
  width: 150px;
  height: 30px;
  background-color: #d4a373;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 40px;
}

.links button a {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background: #d4a373;
}
